.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;

  .redux-icon {
    background: url("https://api.iconify.design/logos-redux.svg") no-repeat
      center center / contain;
    width: 4.8rem;
    height: 4.8rem;
    margin-bottom: 0.5rem;
    align-self: center;
  }

  .mongodb-icon {
    background: url("https://api.iconify.design/simple-icons:mongodb.svg?color=%23589636")
      no-repeat center center / contain;
    width: 4.8rem;
    height: 4.8rem;
    margin-bottom: 0.5rem;
    align-self: center;
  }

  .ts-icon {
    background: url("https://api.iconify.design/logos-typescript-icon.svg")
      no-repeat center center / contain;
    width: 4.8rem;
    height: 4.8rem;
    margin-bottom: 0.5rem;
    align-self: center;
  }

  .graphql-icon {
    background: url("https://api.iconify.design/logos:graphql.svg") no-repeat
      center center / contain;
    width: 4.8rem;
    height: 4.8rem;
    margin-bottom: 0.5rem;
    align-self: center;
  }

  .styled-components-icon {
    background: url("https://api.iconify.design/simple-icons:styled-components.svg")
      no-repeat center center / contain;
    width: 4.8rem;
    height: 4.8rem;
    margin-bottom: 0.5rem;
    align-self: center;
  }

  hr {
    width: 75%;
  }

  .technologies__icon-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @media (max-width: 22em) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .technologies__icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem 1rem;

    i {
      margin-bottom: 0.5rem;
    }
  }
}
