@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$primaryFont: 'Roboto', sans-serif;
$headerBackground: rgba(0, 0, 0, 0.05);
$iconColor: rgba(0, 0, 0, 0.5);
$iconHoverColor: orange;
$fadedTextColor: rgba(0, 0, 0, 0.5);
$mainBackground: rgba(0, 0, 0, 0.05);
$projectTileBackground: white;