@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(0, 0, 0, 0.05);
}

.header h4 {
  font-size: 2rem;
  margin: 0.7rem 0;
}

.header h5 {
  font-size: 1.4rem;
  margin: 0;
}

.header .header__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 3rem 0;
}

.header .header__portrait {
  max-width: 10rem;
  border: 0.3rem solid white;
  border-radius: 50%;
  margin: auto 2.5rem auto 0;
  -webkit-box-shadow: 0.2rem 0.1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.2rem 0.1rem rgba(0, 0, 0, 0.3);
}

.header .header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1rem;
}

.header i {
  color: rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.header i:hover {
  color: orange;
}

.technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technologies .redux-icon {
  background: url("https://api.iconify.design/logos-redux.svg") no-repeat center center/contain;
  width: 4.8rem;
  height: 4.8rem;
  margin-bottom: 0.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.technologies .mongodb-icon {
  background: url("https://api.iconify.design/simple-icons:mongodb.svg?color=%23589636") no-repeat center center/contain;
  width: 4.8rem;
  height: 4.8rem;
  margin-bottom: 0.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.technologies hr {
  width: 75%;
}

.technologies .technologies__icon-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 22em) {
  .technologies .technologies__icon-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.technologies .technologies__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 1rem 1rem;
}

.technologies .technologies__icon i {
  margin-bottom: 0.5rem;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80rem;
  padding: 1rem;
  background: white;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
  margin-top: 3rem;
}

.project-tile .project-tile__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 0px 0.3rem rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 0.3rem rgba(0, 0, 0, 0.5);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.project-tile .project-tile__img img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.project-tile .project-tile__img video {
  height: auto;
  max-width: 100%;
  border-radius: 0.5rem;
}

.project-tile .project-tile__img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.project-tile .project-tile__title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-tile .project-tile__title-bar h4 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-right: auto;
}

.project-tile .project-tile__title-bar i {
  color: #6e5494;
  font-size: 2.4rem;
}

.project-tile span {
  font-size: 1.4rem;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgba(0, 0, 0, 0.05);
}

.faded-text {
  color: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=styles.css.map */