@import "./variables";
@import "./mixins";
@import "./header";
@import "./technologies";

@include remScale();

* {
    box-sizing: border-box;
}

body {
    font-family: $primaryFont;
}

.faded-text {
    color: $fadedTextColor;
}