@import "./variables";
@import "./mixins";
@import "./header";
@import "./technologies";
@import "./projects";
@import "./project-tile";

@include remScale();

* {
    box-sizing: border-box;
}

body {
    font-family: $primaryFont;
    background:$mainBackground;
}

.faded-text {
    color: $fadedTextColor;
}